:root {
    --main-bg-color: rgb(39, 39, 39);
    --other-bg-color: rgb(59, 59, 59);
    --textA: rgb(240, 157, 189);
    --dashplease :rgb(255, 246, 230);
  }

body {
    color: rgb(255, 246, 230);
    background-color: var(--main-bg-color);
}