

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr  auto;
}

.innerGrid {
    background-color: rgb(59, 55, 55);
    display: grid;
    
    grid-column: 1 / span 2;
    grid-template-rows:  1fr 1fr ;
    overflow: auto;
    grid-row-gap: 3px;
   /* padding: 9 4; */
  
}

.cell1 {
    padding: 3px;
    
}

.cell11 {
    padding: 3px;
}

.cell2 {
  
    /* background-color: blue; */

    /* margin: 30px; */
    overflow: auto;
}


.cell3 {
    /* background-color: red; */
  
    overflow: auto;
}

.cell4 {
    /* background-color: yellow; */
    grid-column: 1 / span 2;
}