.flex-container {
    display: flex;
    padding: 3px;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    font-size: 30px;
}

.mycard {
    border-radius: 25px;
}

p {
    color: rgb(71, 207, 237);
    font-family: "IBM Plex Mono", monospace;
}

.hiding2 {
    display: none;
    overflow: hidden;
}