.navbar {
  padding: 0;
}

.myCss {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 57px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  height: 67px;
  width: 100%;
}
