*,
*::before,
*::after {
    font-family: 'Open Sans', sans-serif;
}

.card1-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.card1 {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
}

.card1.card1-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.card1-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
}


.card1-body {
    font-size: .9rem;
    padding: 0 var(--padding);
}

.card1-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
}

.btn1 {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn1:hover,
.btn1:focus {
    background: hsl(200, 50%, 60%);
}

.btn1.btn1-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}

.btn1.btn1-outline:hover,
.btn1.btn1-outline:focus {
    background: hsl(200, 50%, 90%);
}

.btn1+.btn1 {
    margin-left: .2rem;
}