* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
}

.grid-container {
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    border: 0px solid #dc3545;
    border-radius: 5px 5px 0 0;
    grid-gap: 1px;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.8);
}

.grid-item {
    background-color: rgba(255, 255, 255, 1);
    padding: 7px;
    justify-content: center;
}

.item1 {
    background-color: #dc3545;
    border-radius: 3px 0px 0 0;
}

.item2 {
    background: #dc3545;
    color: white;
    border-radius: 0px 3px 0 0;
}

.grid-item:nth-child(2n) {
    text-align: left;
    vertical-align: middle;
    padding-left: .7em;
}

.grid-item:nth-child(2n-1) {
    font-weight: bolder;
    padding-right: .7em;
}