.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0 5 5 0;
    background-color: #ffffff;
    border: 1px solid #123abc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-bottom: 6px;
    margin-top: 6px;

}