.navbar {
  padding: 0;
}


.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myCss {
  text-align: center;
}

.vCenterImagePlease {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(248, 248, 248);
  min-height: 160px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 57px;
  /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  height: 67px;
  width: 100%;
}

.helper {

  padding: 0.25rem;
  width: 100%;

}